body {
	background: linear-gradient(rgba(0, 0, 0,0.5),rgba(0, 0, 0, 0.5)), url(style/background.jpg);
	font-family: sans-serif;
	background-size: cover;
	background-attachment: fixed;
}

img {
	display: block;
	background-attachment: fixed;
	background-size: cover;
	width: 200px;
	margin-top: 600px;
	margin: 70px auto 0px;
}

h3 {
	color: white;
	display: block;
	text-decoration-color: #fffff;
	text-align: center;
}

.block5{    
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}
.block5 a{

    color: #000;
    width: 50%;
    height: 50%;
    background: #fff;
    text-decoration: none;
    padding: 1em 17em;
    transition-duration: 0.4s;
}
.block5 a:hover{
	 background-color: #F3FF00;
    color: black;
}

.block{    
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}
.block a{

    color: #000;
    width: 50%;
    height: 50%;
    background: #fff;
    text-decoration: none;
    padding: 1em 16.8em;
    transition-duration: 0.4s;
}
.block a:hover{
	 background-color: #F000FF;
    color: black;
}

.block1{    
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}
.block1 a{

    color: #000;
    width: 50%;
    height: 50%;
    background: #fff;
    text-decoration: none;
    padding: 1em 16.9em;
    transition-duration: 0.4s;
}
.block1 a:hover{
	 background-color: #008BFF;
    color: white;
}


.block2{    
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}
.block2 a{

    color: #000;
    width: 50%;
    height: 50%;
    background: #fff;
    text-decoration: none;
    padding: 1em 17.4em;
    transition-duration: 0.4s;
}
.block2 a:hover{
	 background-color: #00FF6C;
    color: black;
}

.block3{    
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}
.block3 a{
    color: #000;
    width: 50%;
    height: 50%;
    background: #fff;
    text-decoration: none;
    padding: 1em 17em;
    transition-duration: 0.4s;
}
.block3 a:hover{
	 background-color: #FF1300;
    color: white;
}

.block4{    
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}
.block4 a{

    color: #000;
    width: 50%;
    height: 50%;
    background: #fff;
    text-decoration: none;
    padding: 1em 17.7em;
    transition-duration: 0.4s;
}
.block4 a:hover{
	 background-color: #555555;
    color: white;
}

a {
    text-decoration: none;
   }

h6 {
	text-align: center;
	color: white;
	display: block;
	text-decoration-color: #fffff;
	margin-top: 40px;
	font-size: 12px;
}

h4 {
	color: white;
	display: block;
	text-decoration-color: #fffff;
	text-align: center;
}

h1 {
	color: white;
	display: block;
	text-decoration-color: #fffff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 40px;
	font-size: 36px;
}

p {
	color:  white;
	font-size: 20px;
	display: block;
	margin: 0 auto;
	width: 80%;
}

table {
	margin:  auto;
	width: 80%;
}

tr {
	color:  white;
	width: 80%;
}