body {
    background: linear-gradient(
        to right, #833ab4,
        #fd1d1d, #F4A460, #FF00FF,#FFDC33,#CED23A, #FF97BB,#FF4500, #fcb045);
    background-size: 400% 400%;
    animation: animate-background 60s infinite ease-in-out;
}

@keyframes animate-background {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

img {
	display: block;
	background-attachment: fixed;
	background-size: cover;
	width: 200px;
	margin-top: 600px;
	margin: 70px auto 0px;
}

h3 {
	color: white;
	display: block;
	text-decoration-color: #fff;
	text-align: center;
    font-size: 24px;
    text-shadow: 
    1px 1px 1px #1c1b29, 
    0 1px 1px #1c1b29, 
    -1px 0 1px #1c1b29, 
    0 -1px 1px #1c1b29;
    letter-spacing: 1px;
}

.block5{    
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}
.block5 a{

    color: #fff;
    width: 50%;
    height: 50%;
    background: #1c1b29;
    border-radius: 30px;
    text-decoration: none;
    padding: 1em 17em;
    transition-duration: 0.4s;
}
.block5 a:hover{
	 background-color: #F3FF00;
    color: black;
}

.block{    
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}
.block a{

    color: #fff;
    width: 50%;
    height: 50%;
    background: #1c1b29;
    border-radius: 30px;
    text-decoration: none;
    padding: 1em 16.8em;
    transition-duration: 0.4s;
}
.block a:hover{
	 background-color: #F000FF;
    color: black;
}

.block1{    
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}
.block1 a{

    color: #fff;
    width: 50%;
    height: 50%;
    background: #1c1b29;
    border-radius: 30px;
    text-decoration: none;
    padding: 1em 16.9em;
    transition-duration: 0.4s;
}
.block1 a:hover{
	 background-color: #008BFF;
    color: black;
}


.block2{    
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}
.block2 a{

    color: #fff;
    width: 50%;
    height: 50%;
    background: #1c1b29;
    border-radius: 30px;
    text-decoration: none;
    padding: 1em 17.4em;
    transition-duration: 0.4s;
}
.block2 a:hover{
	 background-color: #00FF6C;
    color: black;
}

.block3{    
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}
.block3 a{
    color: #fff;
    width: 50%;
    height: 50%;
    background: #1c1b29;
    border-radius: 30px;
    text-decoration: none;
    padding: 1em 17em;
    transition-duration: 0.4s;
}
.block3 a:hover{
	 background-color: #FF1300;
    color: black;
}

.block4{    
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 100px;
    text-align: center;
}
.block4 a{

    color: #fff;
    width: 50%;
    height: 50%;
    background: #1c1b29;
    border-radius: 30px;
    text-decoration: none;
    padding: 1em 17.7em;
    transition-duration: 0.4s;
}
.block4 a:hover{
	 background-color: #7D3C98;
    color: black;
}

a {
    text-decoration: none;
   }

h6 {
	text-align: center;
	color: white;
	display: block;
	text-decoration-color: #fff;
	margin-top: 40px;
	font-size: 12px;
}

h4 {
	color: white;
	display: block;
	text-decoration-color: #fff;
	text-align: center;
    font-size: 20px;
    text-shadow: 
    2px 2px 2px #1c1b29, 
    0 1px 1px #1c1b29, 
    -1px 0 1px #1c1b29, 
    0 -1px 1px #1c1b29;
    letter-spacing: 1px;
}

h1 {
	color: white;
	display: block;
	text-decoration-color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 40px;
	font-size: 40px;
    text-shadow: 
    2px 2px 2px #1c1b29, 
    0 1px 1px #1c1b29, 
    -1px 0 1px #1c1b29, 
    0 -1px 1px #1c1b29;
    letter-spacing: 1px;
}

p {
	color:  white;
	font-size: 20px;
	display: block;
	margin: 0 auto;
	width: 80%;
}

table {
	margin:  auto;
	width: 80%;
}

tr {
	color:  white;
	width: 80%;
}